body{
    background-image: url("./images/Background/whitey.png");
    margin: 0;
    font-family: 'Lora', 'Times New Roman', Times, serif;
      
}
@font-face{
    font-family: 'Lora';
    src: url("/images/Lora/static/Lora-Regular.ttf") format('truetype');
 
}
.secondary-background-image{
    background-image: url("./images/Background/wood_pattern.png");
    box-shadow: 0 0 12px 12px rgba(4, 2, 0, .5) inset;
}


.overlay-background-color{
    background-color: rgba(185, 97, 9, .1);
}

@keyframes animateleft{
    from{left:-300px;opacity:0} to{left:0;opacity:1}
}

@keyframes animateright{
    from{right:-300px;opacity:0} to{right:0; opacity:1}
}
.secondary-background-shade{
    background-color: rgba(0, 0, 0, .9);
}

img{
    max-width: 100%;
    max-height: 100%;
    display:block; 
    
}

/* -----------------------------icon------------------- */

.icon-link{
    display: inline-block;
    font-size: calc(5px + .5vh);
    text-align: center;
}
.icon-image{  
    margin: auto;
}

.navbar-icon{
    height:10vh;    
}
.icon-list{
    width: 140px;
    margin-left:auto;
    margin-right: auto;
    columns: 3;
    min-height: 40px;

}
/* //////////////////////////////////////Header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
header{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    
    display: flex;  
    margin: 0;

}
#header-text-content{ 
    margin: 3vh 4vw;
    font-size: calc(2vh + 3vw);
    max-width: 70%;
    font-weight: 700;
    
}

.gradient-text {
    background-color: #ffffff;
    background-image: linear-gradient(45deg, rgb(172, 172, 172, .8), rgba(185, 97, 9, .3),rgb(172, 172, 172, .8),rgba(185, 97, 9, .3), rgb(172, 172, 172, .8),rgba(185, 97, 9, .3));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
#header-image{
    margin-left: 30vw;
    background-image: url("./images/JustinGrey.jpg");
    width: 250px;
    min-width: 120px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    z-index: 1;
    box-shadow: 0 0 8px 8px rgba(4, 2, 0, .9) inset;
}


/* ///////////////////////////NavBar Navbar\\\\\\\\\\\\\\\\\\\\ */
.nav-link{
    justify-self: center;
    cursor: pointer;
    margin: 1vh;
    padding: 1vh;

    text-decoration: none;
    border-radius: 10px;
    
    
}
.nav-link:hover{
    background: rgba(255, 255, 255, .9);
    transform: scale(1.15);
}

.navbar-list{
    display: grid;
    width: 100%;
    height: 8vh;
    grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
    font-size:calc(5px + .5vw + 1vh); 
}
#navbar{  
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
    top: -20vh;
    left: 25vw;
    width: 50vw;
    height: 20vh;
    border-radius: 0 0 10px 10px;
    border: grey solid 2px;
    z-index: 2;
    text-align: center;

}
#navbar.open{  
    background-color: rgba(255, 255, 255, .9);
    transition: .5s ease;
    top:0px; 

}
#navbar-text{
    display: none;
}
#navbar-text.open{
    
    display: block;
}
#navbar-button{
    text-align: center;
    position: fixed;
    border-radius: 0 0 10px 10px;
    color: gray; 
    border: grey solid;
    border-width: 0 1.5px 1.5px ;
    top: .25vh; 
    left: calc(50vw - 20px);
    width: 40px;
    text-align:center;
    height: 20px;
    cursor: pointer;
}

#navbar-button.open{
    top: 20.5vh;
    transition: 0.5s ease;
    height: calc(8px + .75vw);
    background-color: rgba(255, 255, 255, 0.8);   
}

#navbar-button-arrow{   
    margin-top: -15px;
    font-size: 30px; 
     
    
}
#navbar-button-arrow.open{
    transform: rotate(-180deg);
    color: black; 
    margin-top: -3px;
}
#expand-tip{
    visibility: hidden;  
    position: absolute;
    text-transform: unset;
    top: 4px;
    left: 2vw;
    color: white;
    width: 60px;
    text-align:right;
    font-size:12px 
}
#navbar-button:hover #expand-tip{
   visibility: visible;
}



/* /////////////////////////////////////////////////////////Main Content\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.main-content-margin{
    margin: 5vh auto;
}

.slide {
    display: none;
    position: relative;
}
.main-content-size{
    height: 28vw;
    width: 80vw;
    min-width: 270px;
    border-radius: 10px;


}
#main-content{
    background-color: rgba(0, 0, 0, .9);
}
/* Next & previous buttons */
.prev, .next {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 55.5%;
    padding: 1.5vw;
    color:  rgba(0, 0, 0, .2);
    border: rgba(0, 0, 0, .2)  solid 5px; 
    border-radius: 25%;
    font-size: 4vw;
    transition: 0.6s ease;
    user-select: none;
    height: 5%;
    background: rgba(0, 0, 0, .2);
    
  }
  .next {
    right: 3vw;

  }
.prev{
    left: 3vw;

}
.prev:hover, .next:hover{
    color: purple;
    background: rgba(0, 0, 0, .5);
    transform: scale(1.2);
}

/* --------Slide Setup---------------------------------------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.inner-slide-wrapper{
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(28vw, 1fr));
}

.inner-slide-pair, .inner-slide-image{
    background: linear-gradient(180deg,rgba(185, 97, 9, .1),rgba(255, 255, 255, 0.7)15%,rgba(255, 255, 255, 0.7)85%,rgba(185, 97, 9, .1));
    text-align: center;
    align-self: center;
    justify-self: center;
    max-width: 85%;
    min-width: 75%;
    min-height: 40%;
    margin: 1vw; 
    border-radius:11px;
    overflow: hidden;
    font-size: calc(8px + .5vw);
}

.inner-slide-pair{
    padding: 1vw;
    border: black 1px solid;
}




/* 
------------------------------article----------------- */
article{
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 22vw;
    min-width: 180px;
    height: 25vw;
    min-height: 250px;
    padding: 5px;
    display: grid;
    margin: 1vw;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.7)15%,rgba(255, 255, 255, 0.7)85%,rgba(255, 255, 255, 0.2) );   
}

/* ...................>>>>>>>>>>>>>>>>inside article---------------------------------- */
.article-title{
    padding: 2px;

    font-size: calc(20px + .5vw);
    height: calc(20px + .5vw);
    margin:0px;
    
}
.article-image{
    align-self: center;  
    justify-self: center;
    width: 100%;
}
.article-description{
    font-size: calc(8px + .5vw);
    justify-self: center;
    width:90%;
    min-height: 35px;
    height: 5vw;
    padding: 1vh 0 0 0 ;
}
.article-technologies{
    width: 100%;
    font-size: calc(8px + .5vw);
    height: 5vw;
}

/* -------------------footer */


footer{
 
    bottom: 0;
    width: 100%;
    font-size: calc(8px + .25vw);
    margin-top: 5vh;

    font-size: calc(5px + .5vh);
    text-align: center;
   z-index: -5;
}


/* ,<<<<<<<<<<<<<<<<<<<<<<<Animation>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


@media(max-width: 1605px){
    header{
        height: 200px;

    }
    #header-text-content{

        width: 75%;
    }
    #header-image{
        margin: 2px 2px 2px 2vw;
        height: 196px;
        width: 200px;
    }
}

@media (max-width: 1050px){
    .main-content-size{
        height: auto; 
    
    }
    
    .inner-slide-pair{
        min-width: 250px;
    }
    header{
        height: 200px;
        min-width: 180px;
    }

    #header-text-content{
        font-size: 30px;
        width: 80%;
    }
    #header-image{
        margin: 2px 2px 2px 30vw;
        height: 196px;
        width: 300px;
    }
    #navbar-button-arrow.open{
        margin-top:-8px;
    }

}
@media (max-width: 600px){
    .main-content-size{
        height: auto;   
        margin-bottom: 0;
    }
    .inner-slide-pair{
        min-width: 250px;
    }
    header{
        height: 130px;
        min-width: 180px;
    }
    
    #header-text-content{
        font-size: 20px;
        max-width: 50%;
    }
    #header-image{
        margin: 2px 2px 2px 30vw;
        height: 126px;
        width: 100px;
    }
    .next {
        right: 1vw;
    
      }
    .prev{
        left: 1vw;
    }
    #navbar{  
       
        left: 5%;
        width: 90%;
    
    }
    #navbar-button{
        background-color: rgba(255, 255, 255, .9);
        left: calc(50vw - 12.5px);
        width: 25px;
        height: 11px;
    }
    #navbar-button-arrow{
        font-size:20px;
    
        

    }
    #navbar-button-arrow.open{
        margin-top:-5px;

    }



}

@media(max-width:350px){
    #header-image{
        margin: 2px;
    }
    #navbar{  
       
        left: 0;
        width: 100%;
    
    }
    .navbar-list{

        font-size:12px; 
    }
    .icon-list{
        width: 80px;

    
    }
    .inner-slide-pair{
        min-width: 150px;
    }
    .inner-slide-pair, .inner-slide-image{
        height: auto;}


    .main-content-size{
        min-width: 200px; 
    }
    .inner-slide-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(190px, 1fr));
    }

    /* ...................>>>>>>>>>>>>>>>>inside article---------------------------------- */
    .article-title{
        font-size: calc(20px + .5vw);
        height: auto;      
    }
    .article-image{
        align-self: center;  
        justify-self: center;
        width: 100%;
    }
    .article-description{
        height: auto
    }
    .article-technologies{
        height: auto;
    }


}