*{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

html{
    font-size: 17px;
    margin-top: 2em;
    background-color: #333;
}

body{
    background-image: url("./images/ireland\ coast\ \(3\).jpg");
    background-size: 72em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    font-weight: bold;
}

header,
main,
footer{
    margin:  0 auto;
    max-width: 800px;  
}

h1, h2, h3{
    color: rgb(0, 0, 0);
    text-align: center; 
}

header{
    padding-top: 10em;
    padding: 2em 30;
    text-align: Left;

}
header h1{
    font-size: 3.25em;
    text-align: left;
}

header span{
    font-size: 1.5em;
    color: #444;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

nav a{
    padding: .25em 1em;
    text-decoration: none;
    color: #fff;
}

nav a:hover{
    background: #666;
}

main{
    padding-top: 20em;
}

section{
    margin: 1em;
    padding-top: 3em;
    min-height: 20em;
}

section ul{
    list-style: none;
    padding-left: 1.5em;
    text-align: center;   
}

#projects {   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:auto;
    grid-column-gap: 1em;
}

#projects img:hover{
    transform: scale(1.5);
}

#projects article {
    background: #ccc;
    padding: 1em;
    border: 1px solid #333;
}

#projects article img{
   width: 100%;
   border: 1px solid #333;
}

#getInTouch{
    padding-top: 13em;
    padding-bottom: 20em;
    margin: auto;
    max-width: 275px;
}

section > p {
    margin: 1em 0;
    text-align: center;
}

#image img {

    max-width: 45px;
    height: 45px;
    box-sizing: border-box;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#image img:hover{
    transform: scale(3);
}

footer {
    font-size: 12px;
    margin-top: .5em;
    margin-bottom: .4em;
    background: rgb(37, 37, 37);
    color: rgba(255, 255, 255, 0.712);
    padding: .5em 0;
    text-align: center;
    max-width: 275px;   
}
